---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
PointerAlignment: Left
ReferenceAlignment: Right
ColumnLimit: 1000
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
PenaltyBreakAssignment: 1000000
AlignTrailingComments:
  Kind: Leave
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None
SortIncludes: Never
SpaceAfterTemplateKeyword: true
